//FOOTER STYLES--------------------
.site-footer {
	border-top: 1px solid $gray;
	margin-top: 50px;
	padding: 20px 0 100px;

	text-align: center;
	font-family: 'Rock Salt', sans-serif;
	font-size: 1.375em;
}
.site-footer p:first-of-type {
	color: $primary-pop-color;
}