//Custom Variables

//Colors
$brand-primary: #ffbf00;
$gray: #444444;

$hr-border: $gray;

//Text
$font-size-base: 16px;
$text-color: #fff;

//Headings
$headings-font-family: 'Fjalla One', sans-serif;
$headings-font-weight: normal;
h1, h2, h3, h4, h5, h6 {text-transform: uppercase;}


//Global Styles and Utility Classes
.pop-color{
	color: $brand-primary;
}