//HEADER STYLES--------------------------
.site-header{
	position: relative;
	padding-top: 80px;

	text-transform: uppercase;
	text-align: center;
}

// Site title
.name {
	font-family: $headings-font-family;
	font-size: 5.125em;
	line-height:100%;
	color: $primary-pop-color;
	margin-bottom: 4px;
	position: relative;
	display: inline-block;
}
.tagline {
	@extend .fancy-text;
	font-weight: normal;
	font-size: 1.375em;
	line-height: 100%;
	font-style: normal;
}
.meteor {
	position: absolute;
    width: 75px;
    top: -200px;
    left: -305px;

    transition: all 1s;
}
.meteor.arrived/*, .no-js .meteor*/ {
    top: 20px;
    left: -65px;
}




@media (min-width: 541px) {
	.meteor {
	    top: -200px;
	    left: -300px;
	    width: 100px;
	}
	.meteor.arrived/*, .no-js .meteor*/ {
	    top: 30px;
	    left: -90px;
	}
}

//Tagline Fancy Line Styling
// hr {
// 	margin: 8px 0;
// 	display: inline-block;
// }
// hr.above {width: 548px;}
// hr.below {width: 569px;}
