//HEADER STYLES--------------------------
.site-header{
	position: relative;
	padding-top: 80px;

	text-transform: uppercase;
	text-align: center;
}

// Site title
.name {
	font-family: $headings-font-family;
	font-size: 5.125em;
	line-height:100%;
	color: $primary-pop-color;
	margin-bottom: 4px;
	position: relative;
	display: inline-block;
}
.tagline {
	@extend .fancy-text;
	font-weight: normal;
	font-size: 1.375em;
	line-height: 100%;
	font-style: normal;
}
.meteor {
	position: absolute;
    top: 5px;
    left: -100px;
    width: 100px;
}

@media (min-width: 540px) {
	.meteor {
	    top: 24px;
	    left: -100px;
	    width: 102px;
	}
}

//Tagline Fancy Line Styling
// hr {
// 	margin: 8px 0;
// 	display: inline-block;
// }
// hr.above {width: 548px;}
// hr.below {width: 569px;}
