//Home view styles

.section-button {
	@extend .quiet-border;
	display: block;
	padding: 40px;
	margin: 40px auto;

	.dinosaur {
		opacity: .7;
	}
}

.section-button:hover {
	@extend .loud-border;
	text-decoration: none;

	.dinosaur {
		opacity: 1;
	}
}