.project {
	margin-bottom: 60px;

	.title {
		margin-bottom: 0;
	}
	.link {
		margin-bottom: 0;
	}
	.date {
		margin-bottom: 30px;

		font-family: $headings-font-family;
		text-transform: uppercase;
	}

	.description {
		@extend .fancy-text;
	}
	.details {
		@extend .fancy-text;

		font-style: normal;
		font-weight: normal;
	}
}