<div>
  <div class="container">
   <h2>You can find on me places such as the internet.</h2>
   <address>
    <h4>Email</h4>
    <a href="mailto:v.e.pantano@gmail.com">v.e.pantano@gmail.com</a>
  </address>

  <address>
    <h4>Twitter</h4>
    <a href="https://twitter.com/kingb0bIV">twitter.com/kingb0bIV</a>
  </address>

  <address>
    <h4>LinkedIn</h4>
    <a href="https://www.linkedin.com/pub/vincent-pantano/54/102/3a6">linkedin.com/pub/vincent-pantano</a>
  </address>

  <address>
    <h4>GitHub</h4>
    <a href="https://github.com/kingbobiv">github.com/kingbobiv</a>
  </address>

  <address>
    <h4>Codepen</h4>
    <a href="http://codepen.io/vpantano/">codepen.io/vpantano</a>
  </address>

  <p><small>Feel free to reach out, follow, or simply stalk in the shadows.</small></p>
</div>
</div>