<div class="container">
  
  <div class="section-button">
    <img src="../images/rex.png" alt="T-Rex">
    <h1>Contact</h1>
    <span class="blurb">Find me on places such as the internet.</span>
  </div>

  <div class="section-button">
    <img src="../images/bronto.png" alt="Brontosaurus">
    <h1>Projects</h1>
    <span class="blurb">Come have a look at some of my handywork.</span>
  </div>

  <div class="section-button">
    <img src="../images/stego.png" alt="Stegosaurus">
    <h1>BIO</h1>
    <span class="blurb">Read about me and my totally rad adventures!</span>
  </div>


</div>