
<div class="jumbotron">
  <div class="container">
    <h1>Vincent Pantano</h1>
    <p class="lead">Developing Solutions for the Modern Web.</p>

    <div class="swinging-sentence">
      <div class="swinging-words">
        <span>In Between Eps of DBZ.</span>
        <span>Right After I Grab a Coffee.</span>
        <span>As Soon as this Compiles...</span>
        <span>While Standing on One Foot.</span>
        <span>Under Cover of Darkness.</span>
        <span>For the Good of Mankind!</span>
      </div>
    </div>

  </div><!-- end .container -->
</div><!-- end .jumbotron -->



